-cc=$VBCC/bin/@UNAME@/vbccm68k -D__AMIGA__ -D__VBCC__ -quiet %s -o= %s %s -O=%ld -I"$VBCC/include/sdk" -I"$VBCC/include/net"
-ccv=$VBCC/bin/@UNAME@/vbccm68k -D__AMIGA__ -D__VBCC__ %s -o= %s %s -O=%ld -I"$VBCC/include/sdk" -I"$VBCC/include/net"
-as=$VBCC/bin/@UNAME@/vasmm68k_mot -quiet -Fhunk -phxass %s -o %s -I"$VBCC/include/sdk"
-asv=$VBCC/bin/@UNAME@/vasmm68k_mot -Fhunk -phxass %s -o %s -I"$VBCC/include/sdk"
-rm=rm -f %s
-rmv=rm -fv %s
-ld=$VBCC/bin/@UNAME@/vlink -bamigahunk -x -Bstatic -Cvbcc -nostdlib -L"$VBCC/lib" "$VBCC/lib/startup.o" %s %s -lvc -o %s
-l2=$VBCC/bin/@UNAME@/vlink -bamigahunk -x -Bstatic -Cvbcc -nostdlib -L"$VBCC/lib" %s %s -o %s
-ldv=$VBCC/bin/@UNAME@/vlink -bamigahunk -t -x -Bstatic -Cvbcc -nostdlib -L"$VBCC/lib" "$VBCC/lib/startup.o" %s %s -lvc -o %s
-l2v=$VBCC/bin/@UNAME@/vlink -bamigahunk -t -x -Bstatic -Cvbcc -nostdlib -L"$VBCC/lib" %s %s -o %s
-ldnodb=-s -Rshort
-ul=-l%s
-cf=-F%s
-ml=500

